* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    background-image: url("../image/9b06456f7c6fd78bff0c93471350302e.jpg");
    background-position: center;
    background-size: auto auto;
    background-repeat: no-repeat;
}

.tudo {
    width: 100%;
    text-align: center;
}

.center {
    width: 100%;
    max-width: 1200px;
    margin: 200px auto;
    background-color: rgb(42, 78, 196);
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.461);
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: inline-block;
    position: relative;


}

table {
    width: 100%;
    font-size: 30px;
    margin-top: 20px;
    background-color: rgba(54, 60, 64, 0.719);
    text-align: left;

}

tr td {
    padding-top: 10px;
}

table input[type=checkbox] {
    display: none;
}

table label {
    width: 30px;
    height: 30px;
    background-color: rgb(219, 234, 234);
    display: block;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

table td:last-child {
    text-align: right;
}

table input[type=button] {
    width: 100px;
    padding: 10px;
    margin-right: 15px;
    cursor: pointer;
}

.preencher {
    width: 80%;
    height: 80%;
    background-color: rgb(23, 189, 134);
    border-radius: 3px;
    display: inline-block;
}

table tr td:first-child {
    padding-left: 10px;
}



table tr {
    position: relative;
    margin-top: 30px;

}

table span {
    margin-left: 50px;
    width: 10px;


}

table p {
    margin-left: 50px;
    font-size: 20px;

}

.titulo input[type=text] {
    width: 400px;
    font-size: 20px;
    padding: 7px;
    border: 0;
    outline: none;


}

.titulo input[type=submit] {
    font-size: 20px;
    padding: 7px;
    border: 0;
    cursor: pointer;

}